In [1]:
import pandas as pd
import json

In [2]:
%pwd

'C:\\Users\\mikke\\Documents\\projects\\mikmik19.github.io\\notebooks\\books-ive-read'

In [3]:
df = pd.read_csv('.\\..\\..\\data\\books\\goodreads_library_export.csv')

In [4]:
for c in df.columns:
    print(c)

Book Id
Title
Author
Author l-f
Additional Authors
ISBN
ISBN13
My Rating
Average Rating
Publisher
Binding
Number of Pages
Year Published
Original Publication Year
Date Read
Date Added
Bookshelves
Bookshelves with positions
Exclusive Shelf
My Review
Spoiler
Private Notes
Read Count
Recommended For
Recommended By
Owned Copies
Original Purchase Date
Original Purchase Location
Condition
Condition Description
BCID

In [5]:
columns = [
    'Title',
    'Author',
    'My Rating',
    'Date Read'
]
subset_df = df[df["Exclusive Shelf"]=="read"].copy()

subset_df["Date Read"] = pd.to_datetime(subset_df["Date Read"])
subset_df.sort_values("Date Read", ascending=False, inplace=True)

In [6]:
subset_df.tail()

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Private Notes,Read Count,Recommended For,Recommended By,Owned Copies,Original Purchase Date,Original Purchase Location,Condition,Condition Description,BCID
690,270881,The Quark and the Jaguar: Adventures in the Si...,Murray Gell-Mann,"Gell-Mann, Murray",NaN,"=""0805072535""","=""9780805072532""",2,3.84,St. Martins Press-3PL,...,NaN,1,NaN,NaN,1,NaN,NaN,unspecified,NaN,NaN
703,2318271,The Last Lecture,Randy Pausch,"Pausch, Randy",Jeffrey Zaslow,"=""1401323251""","=""9781401323257""",5,4.26,Hachette Books,...,NaN,1,NaN,NaN,1,NaN,NaN,unspecified,NaN,NaN
711,833420,"The Wee Free Men (Discworld, #30; Tiffany Achi...",Terry Pratchett,"Pratchett, Terry",NaN,"=""""","=""""",4,4.27,Corgi Childrens,...,NaN,1,NaN,NaN,1,NaN,NaN,unspecified,NaN,NaN
31,18736925,Capital in the Twenty-First Century,Thomas Piketty,"Piketty, Thomas",Arthur Goldhammer,"=""067443000X""","=""9780674430006""",3,4.04,Belknap Press: An Imprint of Harvard Universit...,...,NaN,1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
268,34376766,"Blood, Sweat, and Pixels: The Triumphant, Turb...",Jason Schreier,"Schreier, Jason",NaN,"=""""","=""""",5,4.25,Harper Paperbacks,...,NaN,1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

In [7]:
def remove_series_name(row):
    return row.split("(")[0]

In [8]:
subset_df["Title"] = subset_df["Title"].copy().apply(remove_series_name)

In [9]:
to_save = subset_df[subset_df['Read Count']>0][
    ['Title',
    'Author',
    'My Rating',
    'Date Read']
].copy()

In [10]:
to_save.tail()

,Title,Author,My Rating,Date Read
690,The Quark and the Jaguar: Adventures in the Si...,Murray Gell-Mann,2,2008-02-01
703,The Last Lecture,Randy Pausch,5,2008-01-01
711,The Wee Free Men,Terry Pratchett,4,2007-01-01
31,Capital in the Twenty-First Century,Thomas Piketty,3,NaT
268,"Blood, Sweat, and Pixels: The Triumphant, Turb...",Jason Schreier,5,NaT

In [11]:
to_save['Date Read'] = to_save['Date Read'].apply(str)

In [13]:
books_json = dict()
for idx, (_, row) in enumerate(to_save.iterrows()):
    books_json[idx] = {
        "title": row["Title"],
        "author": row["Author"],
        "stars": row["My Rating"],
        "date_read": row["Date Read"],
        "link": 0
    }

In [14]:
with open('.\\..\\..\\data\\books\\books.json', 'w') as outfile:  
    json.dump(books_json, outfile)