In [11]:
import re
import json
import pandas as pd

In [12]:
EXTRACT_DATE = '21-07-2020'

In [13]:
with open("Lærkeskellet.txt","r",encoding='utf8') as f:
    body = f.read()
    print(body)

Salgspriser - alle boliger - Lærkeskellet, 2000

Adresse                                         Type           Aktuel
                                                               m²
Lærkeskellet 18, 2000 Frederiksberg             Ejerlejlighed
                                                4.575.000      140
Fri handel     15-05-2018                       1.026.500      138

Fri handel     27-07-1994                       Ejerlejlighed  140
                                                4.800.000      140
Lærkeskellet 6, 2000 Frederiksberg              3.070.000
                                                907.133        140
Fri handel     16-11-2017                                      140
                                                Ejerlejlighed  140
Fri handel     31-01-2012                       3.495.000      138
                                                               138
Fri handel     18-11-1994                       Ejerlejlighed
                                                4.200.000
Lærkeskellet 2, 2000 Frederiksberg              1.875.000
                                                700.000
Fri handel     14-02-2008
                                                Ejerlejlighed
Lærkeskellet 10, 2000 Frederiksberg             2.650.000
                                                995.435
Fri handel     21-01-2007
                                                Ejerlejlighed
Fri handel     11-12-2000                       1.875.000
                                                1.050.000
Fri handel     25-06-1993
                                                Ejerlejlighed
Lærkeskellet 16, 2000 Frederiksberg             851.840
                                                851.840
Fri handel     13-07-2004
                                                Ejerlejlighed
Fri handel     24-07-1994                       985.000

Lærkeskellet 8, 2000 Frederiksberg              Ejerlejlighed
                                                618.000
Fri handel     16-06-2000

Fri handel     10-11-1994

Lærkeskellet 14, 2000 Frederiksberg

Familiehandel  17-01-1995

Fri handel     15-07-1993

Lærkeskellet 4, 2000 Frederiksberg

Fri handel     17-11-1994

Lærkeskellet 12, 2000 Frederiksberg

Fri handel     15-07-1992

Boligsiden er for alle, som vil købe eller sælge bolig. På Boligsiden finder du villaer, ejerlejligheder, grunde mv.

som udbydes til salg gennem en ejendomsmægler.

27-08-2020                                                     Side 1 af 1

In [14]:
addresses = re.findall('Lærkeskellet \d{1,2},', body)
square_meters = re.findall(' \d{2,3}\n', body)
dates = re.findall('\d\d-\d\d-\d\d\d\d', body)
prices = re.findall('[\d{1,3}.]*\d{3}.\d{3}', body)

The pdf includes information on when the data was downlaoded from Boligsiden. This needs to be removed

I need to be able to find the addresses first and then find the dates for those addesses. Otherwise I can't line up the address, salesdate. 

The salesdate and price have the exact same number of rows, so those already lign up. But one or mole salesdates and prices can be part of the same address.

In [32]:
streetnames = [
    'Ahornskellet',
    'Askeskellet',
    'Birkeskellet',
    'Bøgeskellet',
    'Egeskellet',
    'Lindeskellet',
    'Lærkeskellet',
    'Pileskellet',
    'Plantanskellet',
    'Poppelskellet',
    'Tjørneskellet',
    "johannesvjensensalle"
]
rows = []
for street in streetnames:
    with open(f"{street}.txt","r", encoding='utf8') as f:
        body = f.read()
    addresses = re.findall(f'{street} ' + '\d{1,3}, [0-9a-z., ]*2000', body)
    address_chuncks = re.split(f'{street} '+ '\d{1,2},', body)

    prices = re.findall('[\d{1,3}.]*\d{3}.\d{3}', body)
    square_meters = re.findall(' \d{2,3}\n', body)
    
    price_cnt = 0
    for address, m2, text in zip(addresses, square_meters, address_chuncks[1:]):
        m2 = int(m2.replace('\n',''))
        dates = re.findall('\d\d-\d\d-\d\d\d\d', text)
        sale_types = re.findall('Familiehandel|Fri handel|I øvrigt|Auktion', text)
        try:
            dates.remove(EXTRACT_DATE)
        except ValueError:
            pass 

        for (date, sale_type) in zip(dates, sale_types):
            try:
                price = prices[price_cnt]
                price = int(price.replace('.',''))
                
            except:
                break

            m2_price = round(price/m2)
            street_number = address.replace(', 2000','').replace(street, '').replace(' ','').replace(',',' ').replace('.','')
            
            rows.append(
                [
                    street,
                    street_number,
                    date,
                    price,
                    m2,
                    m2_price,
                    sale_type
                ]
            )
            price_cnt += 1

df = pd.DataFrame(columns=[
        'streetName',
        'streetNumber',
        'salesDate',
        'price',
        'm2',
        'm2Price',
        'saleType'
    ],
    data=rows)
len(df)

304

In [33]:
df

,streetName,streetNumber,salesDate,price,m2,m2Price,saleType
0,Ahornskellet,14 2,22-10-2019,2450000,62,39516,Fri handel
1,Ahornskellet,14 2,15-12-2011,1530000,62,24677,Fri handel
2,Ahornskellet,14 2,02-04-2008,1425000,62,22984,Fri handel
3,Ahornskellet,6 2,06-10-2019,3900000,111,35135,Fri handel
4,Ahornskellet,6 2,15-11-2005,3295000,111,29685,Fri handel
5,Ahornskellet,16 st,22-04-2018,4225000,123,34350,Fri handel
6,Ahornskellet,16 st,09-05-2014,3000000,123,24390,Fri handel
7,Ahornskellet,16 st,02-11-2012,2900000,123,23577,Fri handel
8,Ahornskellet,16 st,18-04-2007,3000000,123,24390,Fri handel
9,Ahornskellet,6 st,24-10-2017,4100000,123,33333,Fri handel
10,Ahornskellet,6 st,11-05-2008,2750000,123,22358,Fri handel
11,Ahornskellet,6 st,14-09-1999,1494000,123,12146,Fri handel
12,Ahornskellet,6 st,01-11-1995,978160,123,7953,Fri handel
13,Ahornskellet,24 2,01-08-2017,3800000,113,33628,Familiehandel
14,Ahornskellet,24 2,04-02-2014,2900000,113,25664,Fri handel
15,Ahornskellet,24 2,01-10-2003,1900000,113,16814,Fri handel
16,Ahornskellet,20 st,21-03-2017,4010000,122,32869,Fri handel
17,Ahornskellet,20 st,24-08-2015,1909000,122,15648,Familiehandel
18,Ahornskellet,20 st,22-01-2006,1615000,122,13238,Familiehandel
19,Ahornskellet,20 st,23-12-2005,1615000,122,13238,Familiehandel
20,Ahornskellet,12,27-01-2017,3750000,134,27985,Fri handel
21,Ahornskellet,12,07-05-2004,2365000,134,17649,Fri handel
22,Ahornskellet,12,25-08-1999,1275000,134,9515,Fri handel
23,Ahornskellet,18,12-09-2016,3200000,120,26667,Fri handel
24,Ahornskellet,30,16-06-2015,3500000,120,29167,Fri handel
25,Ahornskellet,30,11-10-2007,2900000,120,24167,Fri handel
26,Ahornskellet,30,11-02-2000,1661300,120,13844,Fri handel
27,Ahornskellet,10 2,21-08-2014,3095000,113,27389,Fri handel
28,Ahornskellet,10 2,16-02-2011,2515000,113,22257,Fri handel
29,Ahornskellet,10 2,27-11-2007,1997500,113,17677,Familiehandel
...,...,...,...,...,...,...,...
274,Tjørneskellet,12 st,20-05-1995,855520,127,6736,Fri handel
275,Tjørneskellet,20 st,03-06-2010,2695000,127,21220,Fri handel
276,Tjørneskellet,20 st,23-06-2009,1184500,127,9327,I øvrigt
277,Tjørneskellet,20 st,31-10-2007,3000000,127,23622,Fri handel
278,Tjørneskellet,20 st,27-08-2020,2295000,127,18071,Fri handel
279,Tjørneskellet,20 st,13-01-2005,832218,127,6553,I øvrigt
280,Tjørneskellet,20 st,24-04-2001,1471174,127,11584,Fri handel
281,Tjørneskellet,20 st,03-08-2000,1269145,127,9993,Fri handel
282,Tjørneskellet,20 st,15-05-1997,1042569,127,8209,Fri handel
283,Tjørneskellet,18,10-07-2008,2750000,123,22358,Fri handel
284,Tjørneskellet,18,14-02-2001,1788000,123,14537,Fri handel
285,Tjørneskellet,18,16-06-1994,1062482,123,8638,Fri handel
286,Tjørneskellet,22 st,20-10-2005,3095000,122,25369,Fri handel
287,Tjørneskellet,22 st,14-09-2001,825000,122,6762,Familiehandel
288,Tjørneskellet,22 st,22-05-2000,1569604,122,12866,Fri handel
289,Tjørneskellet,22 st,16-03-1997,1210000,122,9918,Fri handel
290,Tjørneskellet,4 st,23-08-2004,633333,123,5149,I øvrigt
291,Tjørneskellet,4 st,27-06-1997,1131000,123,9195,Fri handel
292,Tjørneskellet,4 st,29-03-1995,905000,123,7358,Fri handel
293,Tjørneskellet,20 2,07-11-2002,1035000,62,16694,Fri handel
294,Tjørneskellet,20 2,26-06-2000,858420,62,13845,Fri handel
295,Tjørneskellet,20 2,20-04-1993,462280,62,7456,Fri handel
296,Tjørneskellet,4 2,01-08-1999,1400000,111,12613,Fri handel
297,Tjørneskellet,4 2,01-08-1999,700000,111,6306,Familiehandel
298,Tjørneskellet,4 2,09-01-1996,950000,111,8559,Fri handel
299,Tjørneskellet,16 2,16-02-1998,1272462,113,11261,Fri handel
300,Tjørneskellet,16 2,24-05-1996,1170000,113,10354,Fri handel
301,Tjørneskellet,8 st,08-05-1994,894062,122,7328,Fri handel
302,Tjørneskellet,8 st,01-07-1992,537851,122,4409,Fri handel
303,Tjørneskellet,8 2,10-10-1992,875000,113,7743,Fri handel

In [34]:
df[
    (df.streetName == "johannesvjensensalle") &
    (df.streetNumber == "14 2")
]

Empty DataFrame
Columns: [streetName, streetNumber, salesDate, price, m2, m2Price, saleType]
Index: []

We will keep only "fri handel" for now.

In [35]:
df[df.saleType=="Fri handel"].to_csv('../../data/real-estate/sales.csv')

In [24]:
addressesJson = {}
streetJsons = []
for street in df.streetName.unique():
    street_df = df[df.streetName==street]
    streetJson = {
        'street':street,
        'numbers': list(street_df.streetNumber.unique())
    }
    streetJsons.append(streetJson)
addressesJson['streets'] = streetJsons

In [25]:
with open('../../data/real-estate/addresses.json', 'w', encoding='utf8') as json_file:
  json.dump(addressesJson, json_file)

In [26]:
pd.DataFrame(
    df.m2.unique(),
    columns=['m2']
).to_csv('../../data/real-estate/squaremeters.csv')