In [1]:
import re
import pandas as pd

In [60]:
with open("Lærkeskellet.txt","r") as f:
    body = f.read()
    print(body)

Salgspriser - alle boliger - Lærkeskellet, 2000

Adresse                                         Type           Aktuel
                                                               m²
Lærkeskellet 18, 2000 Frederiksberg             Ejerlejlighed
                                                4.575.000      140
Fri handel     15-05-2018                       1.026.500      138

Fri handel     27-07-1994                       Ejerlejlighed  140
                                                4.800.000      140
Lærkeskellet 6, 2000 Frederiksberg              3.070.000
                                                907.133        140
Fri handel     16-11-2017                                      140
                                                Ejerlejlighed  140
Fri handel     31-01-2012                       3.495.000      138
                                                               138
Fri handel     18-11-1994                       Ejerlejlighed
                                                4.200.000
Lærkeskellet 2, 2000 Frederiksberg              1.875.000
                                                700.000
Fri handel     14-02-2008
                                                Ejerlejlighed
Lærkeskellet 10, 2000 Frederiksberg             2.650.000
                                                995.435
Fri handel     21-01-2007
                                                Ejerlejlighed
Fri handel     11-12-2000                       1.875.000
                                                1.050.000
Fri handel     25-06-1993
                                                Ejerlejlighed
Lærkeskellet 16, 2000 Frederiksberg             851.840
                                                851.840
Fri handel     13-07-2004
                                                Ejerlejlighed
Fri handel     24-07-1994                       985.000

Lærkeskellet 8, 2000 Frederiksberg              Ejerlejlighed
                                                618.000
Fri handel     16-06-2000

Fri handel     10-11-1994

Lærkeskellet 14, 2000 Frederiksberg

Familiehandel  17-01-1995

Fri handel     15-07-1993

Lærkeskellet 4, 2000 Frederiksberg

Fri handel     17-11-1994

Lærkeskellet 12, 2000 Frederiksberg

Fri handel     15-07-1992

Boligsiden er for alle, som vil købe eller sælge bolig. På Boligsiden finder du villaer, ejerlejligheder, grunde mv.

som udbydes til salg gennem en ejendomsmægler.

21-07-2020                                                     Side 1 af 1

In [29]:

body

'Salgspriser - alle boliger - Lindeskellet, 2000\n\nAdresse                                         Type           Aktuel\n                                                               m²\nLindeskellet 18, st., 2000 Frederiksberg        Ejerlejlighed\n                                                4.345.000      122\nFri handel     20-10-2019                       400.000\n                                                1.985.000      62\nI øvrigt       21-12-2011                       725.000\n                                                               130\nFri handel     05-09-2002                       Ejerlejlighed\n                                                2.199.000      62\nFri handel     21-06-1993                       1.530.000\n                                                483.000        122\nLindeskellet 16, 2., 2000 Frederiksberg                        123\n                                                Ejerlejlighed  124\nFri handel     29-01-2018                       4.425.000      127\n                                                3.100.000\nFri handel     26-11-2010                       1.700.000      113\n\nFri handel     04-03-1993                       Ejerlejlighed\n                                                2.200.000\nLindeskellet 4, 2000 Frederiksberg              1.195.000\n                                                1.190.000\nFri handel     22-01-2018                       565.000\n\nFri handel     19-06-2013                       Ejerlejlighed\n                                                2.850.000\nFri handel     28-08-2001\n                                                Ejerlejlighed\nLindeskellet 10, 2., 2000 Frederiksberg         1.650.000\n\nFri handel     11-09-2017                       Ejerlejlighed\n                                                3.200.000\nFri handel     26-09-2011\n                                                Ejerlejlighed\nFri handel     18-06-2003                       3.150.000\n                                                1.332.455\nFri handel     30-09-1993                       800.000\n\nLindeskellet 12, st., 2000 Frederiksberg        Ejerlejlighed\n                                                2.480.000\nFri handel     11-04-2014                       1.191.071\n\nLindeskellet 8, 2000 Frederiksberg\n\nFri handel     01-11-2007\n\nLindeskellet 14, 2000 Frederiksberg\n\nFri handel     11-05-2007\n\nLindeskellet 2, st., 2000 Frederiksberg\n\nFri handel     11-02-2007\n\nFri handel     23-02-1998\n\nFamiliehandel  23-02-1998\n\nLindeskellet 12, 2., 2000 Frederiksberg\n\nFri handel     02-03-2005\n\nFri handel     18-06-1997\n\nBoligsiden er for alle, som vil købe eller sælge bolig. På Boligsiden finder du villaer, ejerlejligheder, grunde mv.\n\nsom udbydes til salg gennem en ejendomsmægler.\n\n21-07-2020                                                     Side 1 af 2\n\x0cLindeskellet 16, st., 2000 Frederiksberg        Ejerlejlighed  127\n\nFri handel  22-08-2003                          2.199.000\n\nFri handel  15-04-2001                          1.695.000\n\nFri handel  15-02-1996                          495.418\n\nFri handel  14-10-1994                          900.000\n\nLindeskellet 6, 2., 2000 Frederiksberg          Ejerlejlighed  113\n\nFri handel  14-07-2003                          1.950.000\n\nLindeskellet 20, 2000 Frederiksberg             Ejerlejlighed  124\n\nFri handel  04-01-2003                          2.150.000\n\nFri handel  06-01-1996                          985.000\n\nLindeskellet 18, 2., 2000 Frederiksberg         Ejerlejlighed  113\n\nFri handel  10-12-2000                          1.697.947\n\nFri handel  17-10-1995                          961.078\n\nFri handel  14-03-1992                          602.000\n\nLindeskellet 2, 2., 2000 Frederiksberg          Ejerlejlighed  113\n\nFri handel  11-04-2000                          1.595.000\n\nBoligsiden er for alle, som vil købe eller sælge bolig. På Boligsiden finder du villaer, ejerlejligheder, grunde mv.\n\nsom udbydes til salg gennem en ejendomsmægler.\n\n21-07-2020                                                     Side 2 af 2\n\x0c'

In [40]:
re.findall('Lindeskellet \d{1,3}, [0-9a-z.]*, 2000', body)

['18, st., 2000',
 '16, 2., 2000',
 '10, 2., 2000',
 '12, st., 2000',
 '2, st., 2000',
 '12, 2., 2000',
 '16, st., 2000',
 '6, 2., 2000',
 '18, 2., 2000',
 '2, 2., 2000']

In [34]:
addresses = re.findall('Lindeskellet \d{1,2},', body)
square_meters = re.findall(' \d{2,3}\n', body)
dates = re.findall('\d\d-\d\d-\d\d\d\d', body)
prices = re.findall('[\d{1,3}.]*\d{3}.\d{3}', body)

I need to be able to find the addresses first and then find the dates for those addesses. Otherwise I can't line up the address, salesdate. 

The salesdate and price have the exact same number of rows, so those already lign up. But one or mole salesdates and prices can be part of the same address.

In [97]:
streetnames = [
    'Ahornskellet',
    'Askeskellet',
    'Birkeskellet',
    'Bøgeskellet',
    'Egeskellet',
    'Lindeskellet',
    'Lærkeskellet',
    'Pileskellet',
    'Plantanskellet',
    'Poppelskellet',
    'Tjørneskellet'
]
rows = []
for street in streetnames:
    with open(f"{street}.txt","r") as f:
        body = f.read()
    addresses = re.findall(f'{street} ' + '\d{1,3}, [0-9a-z., ]*2000', body)
    address_chuncks = re.split(f'{street} '+ '\d{1,2},', body)

    prices = re.findall('[\d{1,3}.]*\d{3}.\d{3}', body)
    square_meters = re.findall(' \d{2,3}\n', body)
    
    
    price_cnt = 0
    for address, m2, text in zip(addresses, square_meters, address_chuncks[1:]):
        m2 = int(m2.replace('\n',''))
        dates = re.findall('\d\d-\d\d-\d\d\d\d', text)
        for date in dates:
            try:
                price = prices[price_cnt]
                price = int(price.replace('.',''))
                
            except:
                break

            m2_price = round(price/m2)
            rows.append([address, date, price, m2, m2_price])
            price_cnt += 1

df = pd.DataFrame(columns=[
        'address',
        'salesDate',
        'price',
        'm2',
        'm2Price'
    ],
    data=rows)
len(df)

301

In [98]:
df

                         address   salesDate    price   m2  m2Price
0      Ahornskellet 14, 2., 2000  22-10-2019  2450000   62    39516
1      Ahornskellet 14, 2., 2000  15-12-2011  1530000   62    24677
2      Ahornskellet 14, 2., 2000  02-04-2008  1425000   62    22984
3       Ahornskellet 6, 2., 2000  06-10-2019  3900000  111    35135
4       Ahornskellet 6, 2., 2000  15-11-2005  3295000  111    29685
5     Ahornskellet 16, st., 2000  22-04-2018  4225000  123    34350
6     Ahornskellet 16, st., 2000  09-05-2014  3000000  123    24390
7     Ahornskellet 16, st., 2000  02-11-2012  2900000  123    23577
8     Ahornskellet 16, st., 2000  18-04-2007  3000000  123    24390
9      Ahornskellet 6, st., 2000  24-10-2017  4100000  123    33333
10     Ahornskellet 6, st., 2000  11-05-2008  2750000  123    22358
11     Ahornskellet 6, st., 2000  14-09-1999  1494000  123    12146
12     Ahornskellet 6, st., 2000  01-11-1995   978160  123     7953
13     Ahornskellet 24, 2., 2000  01-08-2017  3800000  113    33628
14     Ahornskellet 24, 2., 2000  04-02-2014  2900000  113    25664
15     Ahornskellet 24, 2., 2000  01-10-2003  1900000  113    16814
16    Ahornskellet 20, st., 2000  21-03-2017  4010000  122    32869
17    Ahornskellet 20, st., 2000  24-08-2015  1909000  122    15648
18    Ahornskellet 20, st., 2000  22-01-2006  1615000  122    13238
19    Ahornskellet 20, st., 2000  23-12-2005  1615000  122    13238
20         Ahornskellet 12, 2000  27-01-2017  3750000  134    27985
21         Ahornskellet 12, 2000  07-05-2004  2365000  134    17649
22         Ahornskellet 12, 2000  25-08-1999  1275000  134     9515
23         Ahornskellet 18, 2000  12-09-2016  3200000  120    26667
24         Ahornskellet 18, 2000  21-07-2020  3500000  120    29167
25         Ahornskellet 30, 2000  16-06-2015  2900000  120    24167
26         Ahornskellet 30, 2000  11-10-2007  1661300  120    13844
27         Ahornskellet 30, 2000  11-02-2000  3095000  120    25792
28     Ahornskellet 10, 2., 2000  21-08-2014  2515000  113    22257
29     Ahornskellet 10, 2., 2000  16-02-2011  1997500  113    17677
..                           ...         ...      ...  ...      ...
271  Tjørneskellet 12, st., 2000  20-05-1995   855520  127     6736
272  Tjørneskellet 20, st., 2000  03-06-2010  2695000  127    21220
273  Tjørneskellet 20, st., 2000  23-06-2009  1184500  127     9327
274  Tjørneskellet 20, st., 2000  31-10-2007  3000000  127    23622
275  Tjørneskellet 20, st., 2000  21-07-2020  2295000  127    18071
276  Tjørneskellet 20, st., 2000  13-01-2005   832218  127     6553
277  Tjørneskellet 20, st., 2000  24-04-2001  1471174  127    11584
278  Tjørneskellet 20, st., 2000  03-08-2000  1269145  127     9993
279  Tjørneskellet 20, st., 2000  15-05-1997  1042569  127     8209
280  Tjørneskellet 20, st., 2000  10-05-1995  2750000  127    21654
281       Tjørneskellet 18, 2000  10-07-2008  1788000  123    14537
282       Tjørneskellet 18, 2000  14-02-2001  1062482  123     8638
283       Tjørneskellet 18, 2000  16-06-1994  3095000  123    25163
284  Tjørneskellet 22, st., 2000  20-10-2005   825000  122     6762
285  Tjørneskellet 22, st., 2000  14-09-2001  1569604  122    12866
286  Tjørneskellet 22, st., 2000  22-05-2000  1210000  122     9918
287  Tjørneskellet 22, st., 2000  16-03-1997   633333  122     5191
288   Tjørneskellet 4, st., 2000  23-08-2004  1131000  123     9195
289   Tjørneskellet 4, st., 2000  27-06-1997   905000  123     7358
290   Tjørneskellet 4, st., 2000  29-03-1995  1035000  123     8415
291   Tjørneskellet 20, 2., 2000  07-11-2002   858420   62    13845
292   Tjørneskellet 20, 2., 2000  26-06-2000   462280   62     7456
293   Tjørneskellet 20, 2., 2000  20-04-1993  1400000   62    22581
294    Tjørneskellet 4, 2., 2000  01-08-1999   700000  111     6306
295    Tjørneskellet 4, 2., 2000  01-08-1999   950000  111     8559
296    Tjørneskellet 4, 2., 2000  09-01-1996  1272462  111    11464
297   Tjørneskellet 16, 2., 2000  16-02-1998  1170000  113    10354
298   Tjørneskellet 16, 2., 2000  24-05-1996   894062  113     7912
299   Tjørneskellet 8, st., 2000  08-05-1994   537851  122     4409
300   Tjørneskellet 8, st., 2000  01-07-1992   875000  122     7172

[301 rows x 5 columns]